---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import CTA from '../../components/CTA.astro'
import Prose from '../../components/Prose.astro'

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={entry.data.title} description="">

	<section class="py-20">
		<h1 class="text-5xl font-bold text-neutral-900 mb-5">{entry.data.title}</h1>

		<div class="text-lg font-light text-neutral-600 mb-10">{entry.data.date.toDateString()}</div>

		<Prose>
			<Content />
		</Prose>
	</section>

	<section>
		<h2 class="mb-2 text-xl font-bold text-neutral-900">Subscribe to my newsletter</h2>
		<p class="mb-4 font-light text-neutral-600">I share weekly newsletter about my ideas and interesting information I found.</p>
		<iframe src="https://embeds.beehiiv.com/6e57a245-3d6e-443a-8cf9-6915e056bd8b?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
	</section>

	<CTA />

</Layout>
