---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import CTA from '../../components/CTA.astro'
import Prose from '../../components/Prose.astro'

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={entry.data.title} description="">

	<section class="py-20">
		<h1 class="text-5xl font-bold text-neutral-900 mb-5">{entry.data.title}</h1>

		<div class="text-lg font-light text-neutral-600 mb-10">{entry.data.date.toDateString()}</div>

		<Prose>
			<Content />
		</Prose>
	</section>

	<CTA />

</Layout>
