---
import IndexLayout from '../../layouts/IndexLayout.astro';
import { getCollection } from 'astro:content';
import moment from 'moment';

const blogPosts = await getCollection('blog');
---
<IndexLayout title="Berkay's Space on the Internet">
  <div class="p-8">
    <h1 class="text-4xl font-bold text-black mb-4">Things I Wrote (a.k.a. Blog)</h1>
    <p class="text-lg font-light">
    One of the greatest thing about humans is that we can express our thoughts and type them into text.
    </p>

    <hr class="my-4 border-gray-400" />

    <ul class="flex flex-col gap-4 my-4 list-disc list-inside text-lg">
      {blogPosts.sort((a, b) => moment(b.data.date) - moment(a.data.date)).map((post: any) => <li><a href={'/blog/' + post.slug} class="italic text-blue-700 font-light hover:font-normal">{post.data.title} - {post.data.date}</a></li>)}
    </ul>

    <hr class="my-4 border-gray-400" />

    <ul class="flex flex-col gap-4 mt-8 list-disc list-inside text-lg">
      <li>
        <a href="/projects" class="italic text-blue-700 font-light hover:font-normal">Things I built</a>
      </li>
      <li>
        <a href="/about" class="italic text-blue-700 font-light hover:font-normal">Who the f*ck I am?</a>
      </li>
    </ul>
  </div>
</IndexLayout>
