---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import CTA from '../../components/CTA.astro'

const blogEntries = await getCollection('blog')
---

<Layout title="Blog" description="">

	<section class="py-20">
		<h1 class="text-5xl font-bold text-neutral-900 mb-6">Blog</h1>

		<div class="grid lg:grid-cols-3 sm:grid-cols-2 md:gap-8 gap-4 mt-20">
			{blogEntries.sort((a, b) => b.data.date - a.data.date).map((entry: any) => (
				<a href={`/blog/${entry.slug}`} class="block p-8 rounded-xl bg-white">
					{entry.data.thumbnail ?
					<img class="mb-4 rounded" src={entry.data.thumbnail} />
					: 
					<div></div>
					}
					<h2 class="text-xl font-medium text-neutral-900 mb-1">{entry.data.title}</h2>
					<div class="text-sm text-neutral-600 font-light">{entry.data.date.toDateString()}</div>
				</a>
			))}
		</div>
	</section>

	<CTA />

</Layout>
