.blog {

}

.blog-container {
    max-width: $size-screen-xl;
    width: 100%;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 120px;
}

.blog-title {
    font-family: 'Inter';
    font-size: 80px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 80px;
}

.blog-items {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.blog-item {
    font-family: 'Inter';
    font-size: 40px;
    color: #727272;
}
