@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

* {
  font-family: 'Inconsolata', monospace;
  color: var(--color-fg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2rem;
  color: var(--color-orange-bright);
}

h2 {
  color: var(--color-green-bright);
}

h3, h4, h5, h6 {
  color: var(--color-purple-bright);
}

a {
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
  color: var(--color-blue-bright);
}

a:hover {
  color: var(--color-red);
}

p {
  font-family: 'Inconsolata', monospace;
  color: var(--color-fg);
}

img {
  max-width: 100%;
}

hr {
  height: 1px;
  background-color: var(--color-fg);
  border: none;
}

.comment {
  color: var(--color-gray);
}