* {
  color: var(--color-fg);
}

h1, h2, h3, h4, h5, h6 {
}

h1 {
  font-size: 2rem;
  color: var(--color-orange-bright);
}

h2 {
  color: var(--color-green-bright);
}

h3, h4, h5, h6 {
  color: var(--color-purple-bright);
}

a {
  text-decoration: none;
  /*color: var(--color-blue-bright); */
}

a:hover {
  color: var(--color-red);
}

p {
  /*color: var(--color-fg);*/
}

img {
  max-width: 100%;
}

hr {
  height: 1px;
  background-color: var(--color-fg);
  border: none;
}

pre {
  padding: 10px;
  background-color: var(--color-dark1);
  overflow: auto;
}

code {
  font-style: italic;
  color: var(--color-gray);
}

.comment {
  color: var(--color-gray);
}
