@import "variables.scss";
@import "globals.scss";

/* Common */
@import "partials/common/header.scss";
@import "partials/common/footer.scss";
/* End Common */

/* Home */
@import "partials/home/welcome.scss";
/* End Home */
