header .title {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin: 0.5em 0;
  color: var(--color-yellow-bright);
}

/*
header nav a {
  margin-right: 10px;
}

header nav a:last-child {
  margin-right: 0;
}
*/
