{{ define "main" }}

    <div class="blog-post">
        <div class="blog-post-container">
            <h1 class="blog-post-title">Blog Post</h1>
            <div class="blog-post-date">21 Dec 2021</div>

            <div class="blog-post-content">
                {{ .Content }}
            </div>

            <div class="blog-post-items">
                <h2 class="blog-post-items-title">Continue Reading</h2>
                <div class="blog-post-items-wrapper">

                    <a class="blog-post-card" href="#">
                        <img class="blog-post-card-image" src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80" />
                        <h3 class="blog-post-card-title">Blog Post Title</h3>
                        <div class="blog-post-card-date">21 Dec 2021</div>
                    </a>

                    <a class="blog-post-card" href="#">
                        <img class="blog-post-card-image" src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80" />
                        <h3 class="blog-post-card-title">Blog Post Title</h3>
                        <div class="blog-post-card-date">21 Dec 2021</div>
                    </a>

                </div>
            </div>
        </div>
    </div>
    
{{ end }}
