<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="d-flex flex-column min-vh-100">

      <!-- header -->
      {{- partial "header.html" . -}}
      <!-- /header -->

      <!-- main -->
      <main class="flex-fill">
      {{- block "main" . }}{{- end }}
      </main>
      <!-- /main -->

      <!-- footer -->
      {{- partial "footer.html" . -}}
      <!-- /footer -->

      <!-- Scripts -->
      <script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>

      <!-- Additional scripts -->
      {{- block "scripts" . }}{{- end }}
    </body>
</html>
