<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body class="container">

      <!-- header -->
      {{- partial "header.html" . -}}
      <!-- /header -->

      <!-- main -->
      <main>
      {{- block "main" . }}{{- end }}
      </main>
      <!-- /main -->

      <!-- footer -->
      {{- partial "footer.html" . -}}
      <!-- /footer -->

      <!-- Additional scripts -->
      {{- block "scripts" . }}{{- end }}

      <!-- Scripts -->
      <script src="{{ .Site.BaseURL }}js/prism.js"></script>
    </body>
</html>
