<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>

      <!-- header -->
      {{- partial "header.html" . -}}
      <!-- /header -->

      <!-- main -->
      <main>
      {{- block "main" . }}{{- end }}
      </main>
      <!-- /main -->

      <!-- footer -->
      {{- partial "footer.html" . -}}
      <!-- /footer -->

      <!-- Scripts -->
      <script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>

      <!-- Additional scripts -->
      {{- block "scripts" . }}{{- end }}
    </body>
</html>
