{{ define "main" }}
<section class="my-8">

  <h1 class="sm:text-4xl text-2xl mb-4">{{ .Title }}</h1>

  <div class="content">
  {{ .Content }}
  </div>

  <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-10 gap-4">

    {{ range .Pages.ByPublishDate.Reverse }}
    <a href="{{ .RelPermalink }}" class="p-6 h-fit rounded-2xl bg-stone-900 hover:bg-stone-800 transition-colors">
        <div class="text-xl font-medium">{{ .Title }}</div>

        {{ if isset .Params "Description" }}
        <p class="text-stone-500 mt-2">{{ .Params.Description }}</p>
        {{ end }}

        {{ if isset .Params "Image" }}
        <img class="rounded-xl mt-2" src="{{ .Params.Image }}" />
        {{ end }}

        <div class="mt-2 text-stone-500">{{ .Date.Format "Jan 02, 2006" }}</div>
    </a>
    {{ end }}

  </div>
</section>

    <div style="height: 200px;"></div>

    {{ partial "start-project-cta.html" . }}

{{ end }}
