---
import { CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../layouts/BlogPost.astro';
import IndexLayout from '../layouts/IndexLayout.astro';
import moment from 'moment';

export async function getStaticPaths() {
	const posts = await getCollection('writings');
  return posts.map((post) => {
    const fullPath = `${moment(post.data.date).format('YYYY/MM/DD')}/${post.slug}`;

    return {
      params: { slug: fullPath },
      props: post,
    }
  });
}
type Props = CollectionEntry<'writings'>;

const post = Astro.props;
const { Content } = await post.render();

// Extract description from frontmatter or generate from content
const description = post.data.description || post.body.split('\n').find(line => line.trim().length > 0)?.substring(0, 160) || post.data.title;
---
<IndexLayout title={post.data.title} description={description} type="article">
  <div class="p-8">
    <h1 class="text-4xl font-bold text-black mb-4">{post.data.title}</h1>

    <div class="mb-4 text-gray-700">{moment(post.data.date).format('MMM DD, YYYY')}</div>

    <article class="prose prose-lg prose-black font-light">
      <Content />
    </article>

    <hr class="my-4 border-gray-400" />

    <ul class="flex flex-col gap-4 mt-8 list-disc list-inside text-lg">
      <li>
        <a href="/projects" class="italic text-blue-700 font-light hover:font-normal">Projects</a>
      </li>
      <li>
        <a href="/about" class="italic text-blue-700 font-light hover:font-normal">About</a>
      </li>
    </ul>
  </div>
</IndexLayout>
