---
import Layout from '../layouts/Layout.astro'
import CTA from '../components/CTA.astro'
---

<Layout title="About" description="">

	<section class="py-20">
		<h1 class="text-5xl font-bold text-neutral-900 mb-6">About Berkay</h1>

		<p class="py-2 text-lg font-light text-neutral-700 leading-relaxed">
			Hi, I'm Berkay and I solve problems. Typically my solutions are software but love to work with hardware as well. Working with projects like landing pages, dashboards and custom software.
		</p>

		<p class="py-2 text-lg font-light text-neutral-700 leading-relaxed">
			For those who technical, I'm a GNU/Linux enjoyer who can't live without Vim. Usually I work with PHP, Golang, JavaScript and CSS.
		</p>
	</section>

	<CTA />

</Layout>
