---
import Layout from '../layouts/Layout.astro'
import CTA from '../components/CTA.astro'
---

<Layout title="About" description="">

	<section class="py-20">
		<h1 class="text-5xl font-bold text-neutral-900 mb-6">About Berkay</h1>

		<p class="py-2 text-lg font-light text-neutral-700 leading-relaxed">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed faucibus velit. Sed fringilla magna pellentesque, gravida quam in, tempus ligula. Etiam in rhoncus nisl. Donec eget lectus neque. Etiam lectus felis, consectetur vel metus a, auctor fringilla erat. Sed maximus venenatis erat, et molestie nunc scelerisque a. Pellentesque orci orci, congue sit amet est non, facilisis molestie metus. Suspendisse ut quam eu augue interdum sodales.
		</p>

		<p class="py-2 text-lg font-light text-neutral-700 leading-relaxed">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed faucibus velit. Sed fringilla magna pellentesque, gravida quam in, tempus ligula. Etiam in rhoncus nisl. Donec eget lectus neque. Etiam lectus felis, consectetur vel metus a, auctor fringilla erat. Sed maximus venenatis erat, et molestie nunc scelerisque a. Pellentesque orci orci, congue sit amet est non, facilisis molestie metus. Suspendisse ut quam eu augue interdum sodales.
		</p>

		<p class="py-2 text-lg font-light text-neutral-700 leading-relaxed">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed faucibus velit. Sed fringilla magna pellentesque, gravida quam in, tempus ligula. Etiam in rhoncus nisl. Donec eget lectus neque. Etiam lectus felis, consectetur vel metus a, auctor fringilla erat. Sed maximus venenatis erat, et molestie nunc scelerisque a. Pellentesque orci orci, congue sit amet est non, facilisis molestie metus. Suspendisse ut quam eu augue interdum sodales.
		</p>
	</section>

	<CTA />

</Layout>
