---
import Layout from '../layouts/Layout.astro'
---

<script>
	let contactForm = document.querySelector('#contact-form')
	let emailInput = document.querySelector('#email-input')
	let captchaContainer = document.querySelector('#captcha-container')

	emailInput.addEventListener('input', (e) => {
		const value = e.target.value

		if (value != '') {
			captchaContainer.style.display = 'block'
			return
		}
	})

	contactForm.addEventListener('submit', (e) => {
		let captcha = document.querySelector('#g-recaptcha-response')
		if (captcha.value == '') {
			e.preventDefault()
			alert('Please check the recaptcha!')
		}
	})
</script>

<Layout title="Contact" description="">

	<script src="https://www.google.com/recaptcha/api.js" async defer></script>

	<section class="py-20">
		<h1 class="text-5xl font-bold text-neutral-900 mb-6">Contact with me</h1>

		<form id="contact-form" method="POST" action="https://staticninja.com/api/form-submit/UxZSHGjBS90w" class="grid grid-cols-2 gap-4">
			<div class="flex flex-col gap-1">
				<label>Name <span class="text-red-500">*</span></label>
				<input class="px-3 py-2 rounded outline-none border border-neutral-200" type="text" name="name" required />
			</div>
			<div class="flex flex-col gap-1">
				<label>Email <span class="text-red-500">*</span></label>
				<input id="email-input" class="px-3 py-2 rounded outline-none border border-neutral-200" type="email" name="email" required />
			</div>
			<div class="flex flex-col gap-1 col-span-2">
				<label>Message <span class="text-red-500">*</span></label>
				<textarea name="message" class="px-3 py-2 rounded outline-none border border-neutral-200"></textarea>
			</div>
			<div id="captcha-container" style="display: none;" class="col-span-2">
				<div class="g-recaptcha" data-sitekey="6LcFwywpAAAAAEn2gMJR1TtKXMtssRqJBC48fbH-"></div>
			</div>
			<button class="block md:w-fit w-full text-center px-5 py-2 bg-blue-600 text-white text-lg rounded">Submit</button>
		</form>

	</section>

</Layout>
