---
import IndexLayout from '../layouts/IndexLayout.astro';
import Hero from '../components/Hero.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';
import moment from 'moment';

const blogPosts = await getCollection('writings');
const recentPosts = blogPosts
  .sort((a, b) => moment(b.data.date).valueOf() - moment(a.data.date).valueOf())
  .slice(0, 3);

const jsonLd = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Berkay's Space on the Internet",
  "url": "https://berkaycubuk.com",
  "author": {
    "@type": "Person",
    "name": "Berkay Cubuk",
    "url": "https://berkaycubuk.com/about"
  },
  "description": "Hi, I'm Berkay and this is my space on the internet. I write, tinker and build things."
};
---
<IndexLayout title="Berkay's Space on the Internet" jsonLd={jsonLd}>
  <Hero />

  <section class="pb-8">
    <div class="flex items-baseline justify-between mb-6">
      <h2 class="text-xl font-semibold text-[var(--color-text)]">Recent Writings</h2>
      <a href="/writings" class="text-sm text-[var(--color-accent)] hover:text-[var(--color-accent-hover)] transition-colors">
        View all &rarr;
      </a>
    </div>
    <div class="flex flex-col">
      {recentPosts.map((post: any) => (
        <PostCard
          title={post.data.title}
          date={moment(post.data.date).format('MMM DD, YYYY')}
          href={'/' + moment(post.data.date).format('YYYY/MM/DD') + '/' + post.slug}
          compact
        />
      ))}
    </div>
  </section>
</IndexLayout>
