---
import IndexLayout from '../layouts/IndexLayout.astro';
---
<IndexLayout title="Berkay's Space on the Internet">
  <div class="p-8">
    <h1 class="text-4xl font-bold text-black mb-4">Berkay's Space on the Internet</h1>
    <p class="text-lg font-light">
    Hi, I'm Berkay and this is my space on the internet. I write, tinker and build things.
    </p>

    <ul class="flex flex-col gap-4 mt-8 list-disc list-inside text-lg">
      <li>
        <a href="/blog" class="italic text-blue-700 font-light hover:font-normal">Things I wrote</a>
      </li>
      <li>
        <a href="/projects" class="italic text-blue-700 font-light hover:font-normal">Things I built</a>
      </li>
      <li>
        <a href="/about" class="italic text-blue-700 font-light hover:font-normal">Who the f*ck I am?</a>
      </li>
    </ul>
  </div>
</IndexLayout>
