---
import IndexLayout from '../layouts/IndexLayout.astro';
---
<IndexLayout title="Projects - Berkay's Space on the Internet" description="Projects and things I built. I tinker and build things in software engineering and blockchain.">
  <div class="p-8">
    <h1 class="text-4xl font-bold text-black mb-4">Projects</h1>
    <p class="text-lg font-light">
    Hi, I'm Berkay and this is my space on the internet. I write, tinker and build things.
    </p>
    <hr class="my-4 border-gray-400" />
    <!--
    <p class="text-lg font-light">
    I'm a software engineer who currently works in blockchain industry. Writing about yourself is always an issue :^)
    Will write more when I know myself better.
    </p>
    -->

    <div class="flex flex-col gap-4">
      <div class="py-8">
        <h2 class="text-2xl font-bold text-black mb-3">berkaycubuk.com</h2>

        <p class="text-lg font-light mb-2">
        Website you currently see. I share my writings and projects here.
        </p>

        <ul class="list-disc list-inside">
          <li><a class="text-blue-700 font-light hover:font-normal" target="_blank" href="https://github.com/berkaycubuk/berkaycubuk.com">github.com/berkaycubuk/berkaycubuk.com</a></li>
        </ul>
      </div>
    </div>

    <hr class="my-4 border-gray-400" />

    <ul class="flex flex-col gap-4 mt-8 list-disc list-inside text-lg">
      <li>
        <a href="/writings" class="italic text-blue-700 font-light hover:font-normal">Writings</a>
      </li>
      <li>
        <a href="/about" class="italic text-blue-700 font-light hover:font-normal">About</a>
      </li>
    </ul>
  </div>
</IndexLayout>
