---
import Hero from '../components/simplified-hugo/Hero.astro'
import Intro from '../components/simplified-hugo/Intro.astro'
import Why from '../components/simplified-hugo/Why.astro'
import Sample from '../components/simplified-hugo/Sample.astro'
import FAQ from '../components/simplified-hugo/FAQ.astro'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Simplified Hugo</title>

		<script async src="https://analytics.bizmovo.com/script.js" data-website-id="3b8e1917-dc75-4ca0-bfe0-09e18537470d"></script>
	</head>
	<body class="flex flex-col min-h-screen bg-neutral-100">
		<Hero />

		<Intro />

		<Why />

		<Sample />

		<FAQ />
	</body>
</html>

<style is:global>
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
</style>
