---
import IndexLayout from '../layouts/IndexLayout.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';
import moment from 'moment';

const blogPosts = await getCollection('writings');
const sortedPosts = blogPosts.sort((a, b) => moment(b.data.date).valueOf() - moment(a.data.date).valueOf());
---
<IndexLayout title="Writings - Berkay's Space on the Internet" description="One of the greatest thing about humans is that we can express our thoughts and type them into text.">
  <div class="py-12">
    <h1 class="text-3xl sm:text-4xl font-bold tracking-tight text-[var(--color-text)] mb-3">Writings</h1>
    <p class="text-[var(--color-text-secondary)]">
      One of the greatest thing about humans is that we can express our thoughts and type them into text.
    </p>

    <div class="mt-8 flex flex-col">
      {sortedPosts.map((post: any) => (
        <PostCard
          title={post.data.title}
          date={moment(post.data.date).format('MMM DD, YYYY')}
          href={'/' + moment(post.data.date).format('YYYY/MM/DD') + '/' + post.slug}
          description={post.data.description}
        />
      ))}
    </div>
  </div>
</IndexLayout>
