<section class="py-20 flex items-center gap-12">
	<div>
		<div class="w-80 h-60 rounded-xl bg-neutral-400"></div>
	</div>
	<div class="flex flex-col gap-4">
		<h2 class="text-4xl font-bold text-neutral-900">Let's make your dream project real!</h2>
		<p class="text-xl leading-relaxed font-light text-neutral-700">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum consequat tincidunt.
		</p>
		<div>
			<a class="block w-fit px-5 py-4 bg-blue-600 text-white text-lg font-medium rounded-xl" href="">Schedule a Call</a>
		</div>
	</div>
</section>
