<section class="py-20 flex md:flex-row flex-col items-center gap-12">
	<div>
		<svg class="sm:w-60 sm:h-60 w-40 h-40" viewBox="0 0 142 123" fill="none" xmlns="http://www.w3.org/2000/svg">
		  <path d="M141.4 61.7H71.1996L36.0996 1H106.3L141.4 61.7Z" stroke="#9D9D9D" stroke-miterlimit="10" stroke-linejoin="round"/>
		  <path d="M141.4 61.7002H71.1996L36.0996 122.5H106.3L141.4 61.7002Z" stroke="#9D9D9D" stroke-miterlimit="10" stroke-linejoin="round"/>
		  <path d="M50.3996 25.7998H91.8996L112.7 61.6998L91.8996 97.6998H50.3996L29.5996 61.6998L50.3996 25.7998Z" fill="currentColor"/>
		  <path d="M50.3996 25.7998H91.8996L112.7 61.6998L91.8996 97.6998H50.3996L29.5996 61.6998L50.3996 25.7998Z" fill="currentColor" fill-opacity="0.2"/>
		  <path d="M36.1 1H106.3L141.4 61.7L106.3 122.5H36.1L1 61.7L36.1 1Z" stroke="#9D9D9D" stroke-miterlimit="10" stroke-linejoin="round"/>
		  <path d="M106.299 1L71.1992 61.7L106.299 122.5L141.399 61.7L106.299 1Z" stroke="#9D9D9D" stroke-miterlimit="10" stroke-linejoin="round"/>
		  <path d="M71.2 61.7002H1L36.1 122.5H106.3L71.2 61.7002Z" stroke="#9D9D9D" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	</div>
	<div class="flex flex-col gap-4">
		<h2 class="text-4xl font-bold text-neutral-900">Let's make your dream project real!</h2>
		<p class="text-xl leading-relaxed font-light text-neutral-700">
			Book a call with me and maybe we can combine our forces to make your project a reality.
		</p>
		<div>
			<a class="block w-fit px-5 py-4 bg-blue-600 text-white text-lg font-medium rounded-xl sm:mx-0 mx-auto" href="">Book a call now!</a>
		</div>
	</div>
</section>
