<footer>
	<div class="container mx-auto px-4 py-8 flex justify-between">
		<div class="text-md">
			berkaycubuk.com
		</div>
		<nav class="flex gap-4">
			<a href="https://github.com/berkaycubuk" target="_blank" aria-label="GitHub">
				<img alt="github" class="w-5" src="/icons/github.svg" />
			</a>
			<a href="https://youtube.com/@berkaycubuk" target="_blank" aria-label="YouTube">
				<img alt="youtube" class="w-5" src="/icons/youtube.svg" />
			</a>
			<a href="https://www.linkedin.com/in/berkaycubuk/" target="_blank" aria-label="LinkedIn">
				<img alt="linkedin" class="w-5" src="/icons/linkedin.svg" />
			</a>
			<a href="https://twitter.com/brkycubuk" target="_blank" aria-label="X / Twitter">
				<img alt="x/twitter" class="w-5" src="/icons/x.svg" />
			</a>
		</nav>
	</div>
</footer>
