<header>
	<div class="container mx-auto px-4 py-8 flex justify-between">
		<a class="font-bold text-xl" href="/">
			Berkay Çubuk
		</a>
		<nav class="flex gap-6 items-center text-md">
			<a href="/projects">Projects</a>
			<a href="/blog">Blog</a>
			<a href="/about">About</a>
			<a class="block w-fit px-3 py-2 bg-blue-600 text-white text-sm font rounded-lg" href="">Book a Call</a>
		</nav>
	</div>
</header>
