<section class="py-20">
	<h2 class="text-center text-5xl font-bold text-neutral-900 mb-6">How we can work</h2>
	<p class="max-w-2xl mx-auto text-center text-xl leading-relaxed font-light text-neutral-700">If you have a project in mind and you think I'm a good fit for it, here are the ways that we can work together.</p>

	<div class="grid sm:grid-cols-2 gap-8 my-12">

		<div class="bg-white rounded-lg p-8">
			<h3 class="text-3xl font-medium text-neutral-900 mb-4">Hourly</h3>
			<p class="text-neutral-700 font-light text-lg leading-relaxed">I can help you with your project by working hourly. It'll be priced by the amount of hours that I worked on it. Preffered for projects that require more ongoing support or with more relaxed timeline.</p>
		</div>

		<div class="bg-white rounded-lg p-8">
			<h3 class="text-3xl font-medium text-neutral-900 mb-4">Project based</h3>
			<p class="text-neutral-700 font-light text-lg leading-relaxed">You have a project that you want to build and publish in more constrained timeline, project based work will be a better option.</p>
		</div>

	</div>
</section>
