<section class="py-20">
	<h2 class="text-center text-5xl font-bold text-neutral-900 mb-6">How we can work</h2>
	<p class="max-w-2xl mx-auto text-center text-xl leading-relaxed font-light text-neutral-700">I solve problems with the help of hardware and software. Usually my projects are custom build web based projects (landing pages, dashboards, etc..). If the problem requires something else, I'll be ready to solve it :^)</p>

	<div class="grid sm:grid-cols-3 gap-8 my-12">

		<div class="bg-white rounded-lg p-8">
			<h3 class="text-3xl font-medium text-neutral-900 mb-4">Static Sites</h3>
			<p class="text-neutral-700 font-light text-lg leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum consequat tincidunt. Maecenas condimentum ante augue, at eleifend neque gravida sit amet.</p>
		</div>

		<div class="bg-white rounded-lg p-8">
			<h3 class="text-3xl font-medium text-neutral-900 mb-4">Static Sites</h3>
			<p class="text-neutral-700 font-light text-lg leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum consequat tincidunt. Maecenas condimentum ante augue, at eleifend neque gravida sit amet.</p>
		</div>

		<div class="bg-white rounded-lg p-8">
			<h3 class="text-3xl font-medium text-neutral-900 mb-4">Static Sites</h3>
			<p class="text-neutral-700 font-light text-lg leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum consequat tincidunt. Maecenas condimentum ante augue, at eleifend neque gravida sit amet.</p>
		</div>

	</div>
</section>
