<section class="py-40">

	<h2 class="text-center text-5xl font-bold text-neutral-900 mb-20">Projects I Worked With</h2>

	<div class="flex flex-col gap-40">

		<div class="grid lg:grid-cols-2 gap-10">
			<div>
				<h3 class="text-3xl font-medium mb-2">Static Ninja</h3>
				<div>
					<a class="text-xl font-light text-neutral-800 hover:text-neutral-600" href="https://staticninja.com" target="_blank">staticninja.com</a>
				</div>

				<p class="mt-4 font-light text-neutral-800 text-xl">
					This project is special for me, because this is one of those projects that I solve my own problem. Static Ninja now powers most of projects and I'm using it for clients projects as well.
				</p>

				<div class="flex items-center gap-1 mt-4">
					<div class="rounded-full px-4 py-2 text-sm bg-neutral-200 text-neutral-800">Laravel</div>
					<div class="rounded-full px-4 py-2 text-sm bg-neutral-200 text-neutral-800">Svelte</div>
					<div class="rounded-full px-4 py-2 text-sm bg-neutral-200 text-neutral-800">SQLite</div>
				</div>
			</div>
			<div>
				<img src="/images/home/staticninjaforms.png" alt="Static Ninja Forms">
			</div>
		</div>

		<div class="grid lg:grid-cols-2 gap-10">
			<div>
				<h3 class="text-3xl font-medium mb-2">Studio Star Holden</h3>
				<div>
					<a class="text-xl font-light text-neutral-800 hover:text-neutral-600" href="https://starholden.com" target="_blank">starholden.com</a>
				</div>

				<p class="mt-4 font-light text-neutral-800 text-xl">
					Studio Star Holden creates amazing projects and I always enjoy to work with them. In this project we updated the overall design of their website.
				</p>

				<div class="flex items-center gap-1 mt-4">
					<div class="rounded-full px-4 py-2 text-sm bg-neutral-200 text-neutral-800">Hugo</div>
				</div>
			</div>
			<div>
				<img src="/images/home/studiostarholden.png" alt="Studio Star Holden" />
			</div>
		</div>

		<div class="grid lg:grid-cols-2 gap-10">
			<div>
				<h3 class="text-3xl font-medium mb-2">A.R.T</h3>
				<div>
					<a class="text-xl font-light text-neutral-800 hover:text-neutral-600" href="https://artresearch.tech" target="_blank">artresearch.tech</a>
				</div>

				<p class="mt-4 font-light text-neutral-800 text-xl">
					What Art Research Tech does is highly technical and sophisticated. They wanted to showcase their work and I think we did it well.
				</p>

				<div class="flex items-center gap-1 mt-4">
					<div class="rounded-full px-4 py-2 text-sm bg-neutral-200 text-neutral-800">Hugo</div>
				</div>
			</div>
			<div>
				<img src="/images/home/artresearchtech.png" alt="Art Research Tech" />
			</div>
		</div>

		<div class="grid lg:grid-cols-2 gap-10">
			<div>
				<h3 class="text-3xl font-medium mb-2">This website</h3>
				<div>
					<a class="text-xl font-light text-neutral-800 hover:text-neutral-600" href="https://berkaycubuk.com" target="_blank">berkaycubuk.com</a>
				</div>

				<p class="mt-4 font-light text-neutral-800 text-xl">
					I love building sites and this site continues to change with my journey. You can access to this site's source code on my GitHub.
				</p>

				<div class="flex items-center gap-1 mt-4">
					<div class="rounded-full px-4 py-2 text-sm bg-neutral-200 text-neutral-800">Astro</div>
				</div>
			</div>
			<div>
				<img src="/images/home/berkaycubuk.png" alt="Berkay Çubuk's Website" />
			</div>
		</div>

		<div class="grid lg:grid-cols-2 gap-10">
			<div>
				<h3 class="text-3xl font-medium mb-2">Bizmovo</h3>
				<div>
					<a class="text-xl font-light text-neutral-800 hover:text-neutral-600" href="https://bizmovo.com" target="_blank">bizmovo.com</a>
				</div>

				<p class="mt-4 font-light text-neutral-800 text-xl">
					Bizmovo is my personal bussines and I'm just experimenting to find something that businesses will want and this site is subject to change along the way.
				</p>

				<div class="flex items-center gap-1 mt-4">
					<div class="rounded-full px-4 py-2 text-sm bg-neutral-200 text-neutral-800">Laravel</div>
					<div class="rounded-full px-4 py-2 text-sm bg-neutral-200 text-neutral-800">SQLite</div>
				</div>
			</div>
			<div>
				<img src="/images/home/bizmovo.png" alt="Bizmovo" />
			</div>
		</div>

		<div class="grid lg:grid-cols-2 gap-10">
			<div>
				<h3 class="text-3xl font-medium mb-2">MQTT Studio</h3>
				<div>
					<a class="text-xl font-light text-neutral-800 hover:text-neutral-600" href="https://mqtt.studio" target="_blank">mqtt.studio</a>
				</div>

				<p class="mt-4 font-light text-neutral-800 text-xl">
					MQTT Studio is enabling you to build dashboards that works with MQTT protocol. If you don't have time to custom code your panel for your projects, MQTT Studio got you covered.
				</p>

				<div class="flex items-center gap-1 mt-4">
					<div class="rounded-full px-4 py-2 text-sm bg-neutral-200 text-neutral-800">React</div>
					<div class="rounded-full px-4 py-2 text-sm bg-neutral-200 text-neutral-800">Firebase</div>
				</div>
			</div>
			<div>
				<img src="/images/home/mqttstudio.png" alt="MQTT Studio" />
			</div>
		</div>

		<div class="grid lg:grid-cols-2 gap-10">
			<div>
				<h3 class="text-3xl font-medium mb-2">Ünyeliler</h3>
				<div>
					<a class="text-xl font-light text-neutral-800 hover:text-neutral-600" href="https://unyeliler.com.tr" target="_blank">unyeliler.com.tr</a>
				</div>

				<p class="mt-4 font-light text-neutral-800 text-xl">
					Ecommerce and showcase website that I built for a local bakery & cafe. It's one of my first professional project and quite a complicated one as well.
				</p>

				<div class="flex items-center gap-1 mt-4">
					<div class="rounded-full px-4 py-2 text-sm bg-neutral-200 text-neutral-800">Laravel</div>
					<div class="rounded-full px-4 py-2 text-sm bg-neutral-200 text-neutral-800">MySQL</div>
				</div>
			</div>
			<div>
				<img src="/images/home/unyeliler.png" alt="Ünyeliler" />
			</div>
		</div>

		<div class="grid lg:grid-cols-2 gap-10">
			<div>
				<h3 class="text-3xl font-medium mb-2">Billiard Software</h3>
				<div>
					<a class="text-xl font-light text-neutral-800 hover:text-neutral-600" href="https://billiard.software" target="_blank">billiard.software</a>
				</div>

				<p class="mt-4 font-light text-neutral-800 text-xl">
					This is an interesting project, it's a billiard venue software that both customers and owner use. It's being actively used for 2 years and counting. Supports both web and mobile and can process payments using Vipps.
				</p>

				<div class="flex items-center gap-1 mt-4">
					<div class="rounded-full px-4 py-2 text-sm bg-neutral-200 text-neutral-800">Golang</div>
					<div class="rounded-full px-4 py-2 text-sm bg-neutral-200 text-neutral-800">Vue</div>
					<div class="rounded-full px-4 py-2 text-sm bg-neutral-200 text-neutral-800">Flutter</div>
				</div>
			</div>
			<div>
				<img src="/images/home/billiard.png" alt="Billiard Software" />
			</div>
		</div>

	</div>

</section>
