<section class="py-8">
	<div class="overflow-x-auto overflow-y-hidden sm:max-h-[600px] max-h-[300px] no-scrollbar">
		<div class="flex gap-4">
			<div>
				<div class="sm:w-[400px] w-[200px] bg-neutral-400">
					<img src="/images/home/artresearchtech.jpeg" />
				</div>
			</div>
			<div>
				<div class="sm:w-[400px] w-[200px] bg-neutral-400">
					<img src="/images/home/berkaycubukcom.jpg" />
				</div>
			</div>
			<div>
				<div class="sm:w-[400px] w-[200px] bg-neutral-400">
					<img src="/images/home/staticninjacom.jpg" />
				</div>
			</div>
			<div>
				<div class="sm:w-[400px] w-[200px] bg-neutral-400">
					<img src="/images/home/mqttstudio.jpg" />
				</div>
			</div>
			<div>
				<div class="sm:w-[400px] w-[200px] bg-neutral-400">
					<img src="/images/home/unyelilercomtr.jpg" />
				</div>
			</div>
			<div>
				<div class="sm:w-[400px] w-[200px] bg-neutral-400">
					<img src="/images/home/bizmovocom.jpg" />
				</div>
			</div>
			<div>
				<div class="sm:w-[400px] w-[200px] bg-neutral-400">
					<img src="/images/home/berkaycubukcom-new.jpg" />
				</div>
			</div>
		</div>
	</div>

	<div class="mt-8 flex justify-center">
		<!--
		<a class="block w-fit px-5 py-4 bg-blue-600 text-white text-lg font-medium rounded-xl" href="/projects">See my work</a>
		-->
	</div>
</section>
