<section class="py-8">
	<div class="overflow-x-auto no-scrollbar">
		<div class="flex gap-4">
			<div>
				<div class="w-[400px] h-[500px] bg-neutral-400"></div>
			</div>
			<div>
				<div class="w-[400px] h-[500px] bg-neutral-400"></div>
			</div>
			<div>
				<div class="w-[400px] h-[500px] bg-neutral-400"></div>
			</div>
			<div>
				<div class="w-[400px] h-[500px] bg-neutral-400"></div>
			</div>
			<div>
				<div class="w-[400px] h-[500px] bg-neutral-400"></div>
			</div>
		</div>
	</div>

	<div class="mt-8 flex justify-center">
		<a class="block w-fit px-5 py-4 bg-blue-600 text-white text-lg font-medium rounded-xl" href="/projects">See my work</a>
	</div>
</section>
