<section>
	<div class="container mx-auto py-40">

		<h2 class="text-center text-5xl font-bold text-neutral-900 mb-12">Software Development Packages</h2>

		<div class="grid md:grid-cols-2 gap-6">

			<article class="px-6 py-4 bg-white rounded h-fit">
				<h3 class="text-3xl font-medium mb-3">One Time Special</h3>
				<p class="text-lg font-light text-neutral-700 leading-relaxed">I'll build your web-based software and deploy it to the internet.</p>

				<ul class="flex flex-col gap-1 mt-3 font-light text-lg list-inside list-disc text-neutral-700">
					<li>Custom design or prebuilt templates</li>
					<li>Laravel or Go backend</li>
					<li>Svelte or vanilla JavaScript</li>
					<li>TailwindCSS for fast UI development</li>
				</ul>

				<p class="italic underline text-lg font-light text-neutral-700 leading-relaxed mt-3 mb-4">Important: Domain and server cost is on your side.</p>

				<a class="block w-fit px-6 py-3 text-lg text-white font-medium bg-blue-600 rounded hover:bg-blue-500 transition-all duration-300 hover:scale-105 hover:shadow-lg" href="https://cal.com/berkaycubuk/discovery-call" target="_blank">Get started 400€ / one time</a>
			</article>

			<!--
			<article class="px-6 py-4 bg-white rounded h-fit">
				<h3 class="text-3xl font-medium mb-3">Async Continious Development</h3>
				<p class="text-lg font-light text-neutral-700 leading-relaxed">I'll do software development on a monthly basis.</p>

				<ul class="flex flex-col gap-1 mt-3 mb-4 font-light text-lg list-inside list-disc text-neutral-700">
					<li>Only one task at a time</li>
					<li>No backlog limit</li>
				</ul>

				<a class="block w-fit px-6 py-3 text-lg text-white font-medium bg-blue-600 rounded hover:bg-blue-500 transition-all duration-300 hover:scale-105 hover:shadow-lg" href="https://cal.com/berkaycubuk/discovery-call" target="_blank">Get started 400€ / month</a>
			</article>
			-->

			<article class="px-6 py-4 bg-white rounded h-fit">
				<h3 class="text-3xl font-medium mb-3">Tutoring on Static Sites</h3>
				<p class="text-lg font-light text-neutral-700 leading-relaxed">I'll help you to learn the details of static site development.</p>

				<ul class="flex flex-col gap-1 mt-3 mb-4 font-light text-lg list-inside list-disc text-neutral-700">
					<li>Hugo and Astro</li>
					<li>Theme development</li>
					<li>Deployment</li>
				</ul>

				<a class="block w-fit px-6 py-3 text-lg text-white font-medium bg-blue-600 rounded hover:bg-blue-500 transition-all duration-300 hover:scale-105 hover:shadow-lg" href="https://cal.com/berkaycubuk/discovery-call" target="_blank">Get started 25€ / hour</a>
			</article>

		</div>

	</div>
</section>
