<section class="py-20">
	<div class="p-16 bg-blue-600 rounded-xl">
		<blockquote class="text-white text-4xl italic leading-normal font-light text-center mb-16">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum consequat tincidunt. Maecenas condimentum ante augue, at eleifend neque gravida sit amet.
		</blockquote>
		<div class="flex items-center justify-center gap-3">
			<div>
				<div class="rounded-full w-12 h-12 bg-neutral-400"></div>
			</div>
			<div>
				<div class="font-medium text-lg text-white">Joe Biden</div>
				<div class="text-white font-light text-sm">CEO of Bidenomics</div>
			</div>
		</div>
	</div>
</section>
