<section class="py-20">
	<div class="sm:p-16 p-10 bg-blue-600 rounded-xl">
		<blockquote class="text-white lg:text-4xl sm:text-2xl text-xl italic leading-relaxed font-light text-center md:mb-16 mb-8">
			Berkay knows how to ship software that just works.
		</blockquote>
		<div class="flex items-center justify-center gap-3">
			<div class="hidden">
				<div class="rounded-full w-12 h-12 bg-neutral-400"></div>
			</div>
			<div>
				<div class="font-medium text-lg text-white">Thomas Anderson</div>
				<div class="text-white font-light text-sm">Software Developer at MetaCortex</div>
			</div>
		</div>
	</div>
</section>
