<section class="flex items-center gap-16 py-8">
	<div class="flex-1 flex flex-col gap-6">
		<h1 class="text-6xl font-bold text-neutral-900">Problem Solver</h1>
		<p class="text-xl leading-relaxed font-light text-neutral-700">I solve problems with the help of hardware and software. Usually my projects are custom build web based projects (landing pages, dashboards, etc..). If the problem requires something else, I'll be ready to solve it :^)</p>
		<p class="text-xl leading-relaxed font-light text-neutral-700">I solve problems with the help of hardware and software. Usually my projects are custom build web based projects (landing pages, dashboards, etc..). If the problem requires something else, I'll be ready to solve it :^)</p>
		<div>
			<a class="block w-fit px-5 py-4 bg-blue-600 text-white text-lg font-medium rounded-xl" href="">Book a Call Now!</a>
		</div>
	</div>
	<div class="flex-1">
		<div class="h-[600px] bg-neutral-400 rounded"></div>
	</div>
</section>
