<!--
<section class="flex lg:flex-row flex-col items-center gap-16 py-8">
	<div class="flex-1 flex flex-col gap-6">
		<h1 class="sm:text-6xl text-4xl font-bold text-neutral-900">Problem Solver</h1>
		<p class="text-xl leading-relaxed font-light text-neutral-700">Hi, I'm Berkay and I solve problems. Typically my solutions are software but love to work with hardware as well. Working with projects like landing pages, dashboards and custom software.</p>
		<p class="text-xl leading-relaxed font-light text-neutral-700">For those who technical, I'm a GNU/Linux enjoyer who can't live without Vim. Usually I work with PHP, Golang, JavaScript and CSS.</p>
		<div class="flex md:flex-row flex-col gap-4 items-center">
			<a class="block md:w-fit w-full text-center px-5 py-4 bg-blue-600 text-white text-lg font-medium rounded-xl" href="https://calendly.com/berkay-cubuk/30min" target="_blank">Book a call now!</a>
			<a class="block md:w-fit w-full text-center px-5 py-4 bg-white text-neutral-900 text-lg font-medium rounded-xl" href="/blog">Visit my blog</a>
		</div>
	</div>
	<div class="flex-1">
		<img alt="Berkay Çubuk" class="ml-auto w-full max-w-[600px]" class="rounded-xl" src="/images/welcome-image.jpg" />
	</div>
</section>
-->

<section>
	<div class="container mx-auto px-6 py-40 lg:py-60 flex flex-col items-center justify-center gap-6">

		<h1 class="font-medium text-5xl md:text-7xl text-center">Full Stack Developer</h1>

		<p class="text-xl font-light">I build, enhance and scale software that runs on the web.</p>

		<div>
			<a class="block w-fit px-6 py-3 text-lg text-white font-medium bg-blue-600 rounded hover:bg-blue-500 transition-all duration-300 hover:scale-105 hover:shadow-lg" href="https://cal.com/berkaycubuk/discovery-call" target="_blank">Book a Call with Berkay</a>
		</div>

	</div>
</section>
