<section class="py-40">
	<h2 class="text-center text-5xl font-bold text-neutral-900 mb-6">What I Do</h2>

	<div class="grid sm:grid-cols-2 gap-6 my-12">

		<div class="relative bg-white rounded-lg p-8 overflow-hidden hover:scale-105 transition-all duration-300 hover:shadow-lg">
			<div class="absolute w-80 -right-16 -top-10 opacity-10 z-0 select-none">
				<svg viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_105_284)"> <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H50V50H0V0ZM100 50H50V100H0V150H50V200H100V150H150V200H200V150H150V100H200V50H150V0H100V50ZM100 100H150V50H100V100ZM100 100V150H50V100H100Z" fill="url(#paint0_linear_105_284)"/> </g> <defs> <linearGradient id="paint0_linear_105_284" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse"> <stop stop-color="#A7B5FF"/> <stop offset="1" stop-color="#F3ACFF"/> </linearGradient> <clipPath id="clip0_105_284"> <rect width="200" height="200" fill="white"/> </clipPath> </defs> </svg>
			</div>
			<h3 class="relative text-3xl font-medium text-neutral-900 mb-4 z-10">Static Sites</h3>
			<p class="relative text-neutral-700 font-light text-lg leading-relaxed z-10">Most of my visitors and clients found me through my Hugo Static Site tutorials on YouTube. So I'm offering my knowledge and experience of static site generation concept. This includes tools like Hugo and Astro.</p>

			<div class="flex items-center gap-4 mt-6">
				<img src="/icons/astro-logo.svg" class="w-12 h-12" alt="Astro" />
				<img src="/icons/hugo-logo.svg" class="w-24" alt="Hugo" />
			</div>
		</div>

		<div class="relative bg-white rounded-lg p-8 overflow-hidden hover:scale-105 transition-all duration-300 hover:shadow-lg">
			<div class="absolute w-80 -right-16 -top-10 opacity-10 z-0 select-none">
				<svg viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_231_713)"> <path fill-rule="evenodd" clip-rule="evenodd" d="M90 32V3.93402e-06H32L5.69126e-06 0L0 22.6274L5.69126e-06 32V90H32V54.6274L63.1319 85.7593L77.3726 100L63.1319 114.241L32 145.373L32 110L1.099e-05 110L1.02983e-05 168L5.9827e-06 200L22.6274 200L32 200H90V168H54.6274L85.7593 136.868L100 122.627L114.241 136.868L145.373 168H110L110 200H168L200 200L200 177.373L200 168L200 110L168 110V145.373L136.868 114.241L122.627 100L136.868 85.7593L168 54.6274L168 90H200L200 32V5.69126e-06L177.373 0L168 4.2925e-06L110 0V32L145.373 32L114.241 63.1319L100 77.3726L85.7593 63.1318L54.6274 32L90 32Z" fill="url(#paint0_linear_231_713)"/> </g> <defs> <linearGradient id="paint0_linear_231_713" x1="14" y1="26" x2="179" y2="179.5" gradientUnits="userSpaceOnUse"> <stop stop-color="#E9B8FF"/> <stop offset="1" stop-color="#F9ECFF"/> </linearGradient> <clipPath id="clip0_231_713"> <rect width="200" height="200" fill="white"/> </clipPath> </defs> </svg>
			</div>
			<h3 class="relative text-3xl font-medium text-neutral-900 mb-4 z-10">Dashboards</h3>
			<p class="relative text-neutral-700 font-light text-lg leading-relaxed z-10">Dashboards are super useful for different kind of problems. I developed dashboard projects for IoT, content management and accounting. These projects uses technologies like databases, REST APIs, frontends and backends.</p>

			<div class="flex items-center gap-4 mt-6">
				<img src="/icons/laravel-logo.svg" class="w-12 h-12" alt="Laravel" />
				<img src="/icons/svelte-logo.svg" class="w-12 h-12" alt="Svelte" />
				<img src="/icons/go-logo.svg" class="w-12 h-12" alt="Go" />
				<img src="/icons/tailwind-logo.svg" class="w-12 h-12" alt="Tailwind" />
			</div>
		</div>

		<div class="relative bg-white rounded-lg p-8 overflow-hidden hover:scale-105 transition-all duration-300 hover:shadow-lg">
			<div class="absolute w-80 -right-16 -top-10 opacity-10 z-0 select-none">
				<svg viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_231_648)"> <path fill-rule="evenodd" clip-rule="evenodd" d="M100 33.6449C92.7738 33.6449 86.9159 39.5028 86.9159 46.729H53.271C53.271 20.9213 74.1923 0 100 0C125.808 0 146.729 20.9213 146.729 46.729C146.729 72.5367 125.808 93.4579 100 93.4579V59.8131C107.226 59.8131 113.084 53.9551 113.084 46.729C113.084 39.5028 107.226 33.6449 100 33.6449ZM166.355 100C166.355 92.7738 160.497 86.9159 153.271 86.9159L153.271 53.271C179.079 53.271 200 74.1923 200 100C200 125.808 179.079 146.729 153.271 146.729C127.463 146.729 106.542 125.808 106.542 100H140.187C140.187 107.226 146.045 113.084 153.271 113.084C160.497 113.084 166.355 107.226 166.355 100ZM46.729 113.084C39.5028 113.084 33.6449 107.226 33.6449 100C33.6449 92.7738 39.5028 86.9159 46.729 86.9159C53.9551 86.9159 59.8131 92.7738 59.8131 100H93.4579C93.4579 74.1923 72.5367 53.271 46.729 53.271C20.9213 53.271 0 74.1923 0 100C0 125.808 20.9213 146.729 46.729 146.729V113.084ZM100 166.355C107.226 166.355 113.084 160.497 113.084 153.271H146.729C146.729 179.079 125.808 200 100 200C74.1923 200 53.271 179.079 53.271 153.271C53.271 127.463 74.1923 106.542 100 106.542L100 140.187C92.7738 140.187 86.9159 146.045 86.9159 153.271C86.9159 160.497 92.7738 166.355 100 166.355Z" fill="url(#paint0_linear_231_648)"/> </g> <defs> <linearGradient id="paint0_linear_231_648" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse"> <stop stop-color="#B8DBFC"/> <stop offset="1" stop-color="#F8FBFE"/> </linearGradient> <clipPath id="clip0_231_648"> <rect width="200" height="200" fill="white"/> </clipPath> </defs> </svg>
			</div>
			<h3 class="relative text-3xl font-medium text-neutral-900 mb-4 z-10">Custom Software</h3>
			<p class="relative text-neutral-700 font-light text-lg leading-relaxed z-10">Sometimes we have super specific problem that require specific solution. For example, I developed fully featured billiard venue management software that supports both mobile and desktop devices. It's helping business I worked with to process payments and get reports about the sales and customers.</p>

			<div class="flex items-center gap-4 mt-6">
				<img src="/icons/linux-logo.svg" class="w-12 h-12" alt="Linux" />
				<img src="/icons/sqlite-logo.svg" class="w-12 h-12" alt="SQLite" />
			</div>
		</div>

		<div class="relative bg-white rounded-lg p-8 overflow-hidden hover:scale-105 transition-all duration-300 hover:shadow-lg">
			<div class="absolute w-80 -right-16 -top-10 opacity-10 z-0 select-none">
				<svg viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_118_198)"> <path d="M100 0L102.665 74.6397L120.791 2.18524L107.88 75.7481L140.674 8.64545L112.75 77.9164L158.779 19.0983L117.063 81.0498L174.314 33.0869L120.63 85.0115L186.603 50L123.295 89.6282L195.106 69.0983L124.943 94.6982L199.452 89.5471L125.5 100L199.452 110.453L124.943 105.302L195.106 130.902L123.295 110.372L186.603 150L120.63 114.989L174.314 166.913L117.063 118.95L158.779 180.902L112.75 122.084L140.674 191.355L107.88 124.252L120.791 197.815L102.665 125.36L100 200L97.3345 125.36L79.2088 197.815L92.1201 124.252L59.3263 191.355L87.25 122.084L41.2215 180.902L82.9372 118.95L25.6855 166.913L79.3701 114.989L13.3975 150L76.7046 110.372L4.89435 130.902L75.0572 105.302L0.547813 110.453L74.5 100L0.547813 89.5471L75.0572 94.6982L4.89435 69.0983L76.7046 89.6282L13.3975 50L79.3701 85.0115L25.6855 33.0869L82.9372 81.0498L41.2215 19.0983L87.25 77.9164L59.3263 8.64545L92.1201 75.7481L79.2088 2.18524L97.3345 74.6397L100 0Z" fill="url(#paint0_linear_118_198)"/> </g> <defs> <linearGradient id="paint0_linear_118_198" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse"> <stop stop-color="#B8DBFC"/> <stop offset="1" stop-color="#F8FBFE"/> </linearGradient> <clipPath id="clip0_118_198"> <rect width="200" height="200" fill="white"/> </clipPath> </defs> </svg>
			</div>
			<h3 class="relative text-3xl font-medium text-neutral-900 mb-4 z-10">Consultation</h3>
			<p class="relative text-neutral-700 font-light text-lg leading-relaxed z-10">If you stuck with a problem and don't know how to solve, If it's something that I do maybe we can solve it together. So I offer consultation for the areas that I'm working with.</p>
		</div>

	</div>
</section>
