<footer class="py-6 mt-20">
    <div class="sm:flex grid grid-cols-2 w-fit mx-auto sm:gap-8 gap-4 justify-center items-center">
        <a href="{{ .Site.Params.linkedin }}" class="text-sm text-center text-stone-400 font-medium uppercase">LinkedIn</a>
        <a href="{{ .Site.Params.twitter }}" class="text-sm text-center text-stone-400 font-medium uppercase">Twitter / X</a>
        <a href="{{ .Site.Params.youtube }}" class="text-sm text-center text-stone-400 font-medium uppercase">YouTube</a>
        <a href="{{ .Site.Params.github }}" class="text-sm text-center text-stone-400 font-medium uppercase">GitHub</a>
    </div>

    <div class="text-center mt-20 text-xs font-thin text-stone-400">&copy;2024 DEVELOPED BY ME :^)</div>
</footer>
