<footer class="bg-light py-2">
  <div class="container">
    <p class="text-center">Berkay Çubuk - 2021</p>
    <div class="d-flex justify-content-center">
        <a href="/privacy">Privacy</a>
    </div>
    <div class="mt-2 d-flex justify-content-center">
      <a class="m-2" style="width: 20px; height: 20px;" target="_blank" href="https://github.com/berkaycubuk">
        <img src="{{ .Site.BaseURL }}/img/github.svg" /></a>
      <a class="m-2" style="width: 20px; height: 20px;" target="_blank" href="https://linkedin.com/in/berkaycubuk">
        <img src="{{ .Site.BaseURL }}/img/linkedin.svg" /></a>
      <a class="m-2" style="width: 20px; height: 20px;" target="_blank" href="https://twitter.com/brkycubuk">
        <img src="{{ .Site.BaseURL }}/img/twitter.svg" /></a>
      <a class="m-2" style="width: 20px; height: 20px;" target="_blank" href="https://www.youtube.com/channel/UC-66ELjIWY_FXYavT05zQJw">
        <img src="{{ .Site.BaseURL }}/img/youtube.svg" /></a>
      <a class="m-2" style="width: 20px; height: 20px;" target="_blank" href="https://instagram.com/berkay_cubuk">
        <img src="{{ .Site.BaseURL }}/img/instagram.svg" /></a>
    </div>
  </div>
</footer>
