<header class="w-full py-6 fixed top-0 left-0 bg-[#0f0f0f]">
    <div class="container mx-auto px-4">
        <div class="flex sm:flex-row flex-col sm:gap-0 gap-4 justify-between items-center">
            <a href="/" class="text-xl md:text-xl font-medium">{{ .Site.Title }}</a>
            <nav class="flex items-center gap-[30px]">
                {{ range .Site.Menus.main }}
                <a href="{{ .URL }}" class="">{{ .Name }}</a>
                {{ end }}
            </nav>
        </div>
    </div>
</header>

<div style="height: 120px;"></div>
