<header class="py-4 px-6 my-4 bg-zinc-800 rounded-xl">
    <div class="flex sm:flex-row flex-col sm:gap-0 gap-4 justify-between items-center">
        <a href="/" class="text-zinc-200 hover:text-blue-400 text-lg md:text-xl font-bold">Berkay Çubuk</a>
        <nav class="flex items-center gap-[26px]">
            <a href="/" class="text-zinc-300 hover:text-blue-400 font-semibold">Home</a>
            <a href="/blog" class="text-zinc-300 hover:text-blue-400 font-semibold">Blog</a>
            <a href="/about" class="text-zinc-300 hover:text-blue-400 font-semibold">About</a>
            <a href="/contact" class="text-zinc-300 hover:text-blue-400 font-semibold">Contact</a>
        </nav>
    </div>
</header>
