<section class="my-6">
    <h2>Projects</h2>
    <p class="mb-2 text-zinc-400">Projects I built.</p>
    <div class="flex flex-col gap-2">
        <a href="https://github.com/berkaycubuk/berkaycubuk.com" class="inline-block w-fit text-blue-400">berkaycubuk.com</a>
        <a href="https://github.com/berkaycubuk/turkish-cities" class="inline-block w-fit text-blue-400">Turkish Cities</a>
        <a href="https://github.com/berkaycubuk/phobos" class="inline-block w-fit text-blue-400">Mercury Panel</a>
        <a href="https://github.com/berkaycubuk/codemate" class="inline-block w-fit text-blue-400">Codemate</a>
        <a href="https://github.com/berkaycubuk/emojy-vscode-extension" class="inline-block w-fit text-blue-400">Emojy</a>
    </div>
</section>
