<section class="my-6">
    <h2 class="text-2xl">Work</h2>

    <div class="grid lg:grid-cols-2 grid-cols-1 mt-4 gap-4">

        {{ range .Site.Data.work }}
        <a href="{{ .URL }}" class="p-6 rounded-2xl bg-stone-900 hover:bg-stone-800 transition-colors">
            <div class="text-xl font-medium">{{ .Title }} <span class="ml-1 text-sm text-stone-500">{{ .URL }}</span></div>
            <p class="text-stone-500 mt-2">{{ .Description }}</p>

            <img class="rounded-xl mt-2" src="{{ .Image }}" />
        </a>
        {{ end }}

    </div>
</section>
