.blog-posts {
    padding: 130px 0;
    background-color: #F1F1F1;
}

.blog-posts-container {
    max-width: $size-screen-xl;
    width: 100%;
    margin: 0 auto;
}

.blog-posts-title {
    font-family: 'Inter';
    font-size: 80px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 80px;
}

.blog-posts-items {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto;

    .blog-post-card:nth-of-type(1) {
        grid-column: 1 / span 2;
    }
}

.blog-post-card {
    display: block;
    padding: 40px;
    background-color: #ffffff;

    &-image {
        width: 100%;
        height: 463px;
        object-fit: cover;
        margin-bottom: 30px;
    }

    &-title {
        font-family: 'Inter';
        font-size: 40px;
        color: #000000;
        margin-bottom: 20px;
    }

    &-date {
        font-family: 'Inter';
        font-size: 24px;
        color: #9C9C9C;
    }
}
