{{ define "main" }}
    <div class="welcome">
        <h1>Computer Engineer, who can talk with computers & websites 👨‍💻</h1>
    </div>
    <div class="latest-posts">
    <h2 class="latest-posts-title">Latest Posts <a class="title-link" href="{{ .Site.BaseURL }}posts">See all</a></h2>
    {{ range first 5 ( where .Site.Pages "Type" "posts")  }}
      <a class="latest-post" href="{{ .RelPermalink }}">
        <h3 class="latest-post-title">{{ .Title }}</h3>
        <span class="latest-post-date">{{ .Date.Format "Jan 02, 2006" }}</span>
      </a>
    {{ end }}
    </div>
{{ end }}
