<section class="about">
    <div class="about-container">
        <h2 class="about-title">Hello,</h2>
        <p class="about-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices placerat malesuada. Maecenas viverra sollicitudin vestibulum. Nam sit amet felis blandit, convallis felis at, imperdiet justo. Vestibulum dui turpis, viverra non est eu, pellentesque porttitor purus. In hac habitasse platea dictumst. Donec id dolor egestas dui posuere rhoncus. Vestibulum sem purus, condimentum vel interdum vitae, interdum condimentum ipsum. Duis a odio ut orci rutrum aliquet.
        </p>
        <div class="about-links">
            <a class="about-link" href="#">LinkedIn -></a>
            <a class="about-link" href="#">GitHub -></a>
            <a class="about-link" href="#">E-mail -></a>
        </div>
    </div>
</section>
