<section class="container mx-auto px-6 py-20">

	<h2 class="text-3xl font-medium mb-8">Frequently Asked Questions</h2>

	<div class="flex flex-col gap-6">

		<div>
			<h3 class="text-xl mb-2">What is the format of the book?</h3>
			<p class="font-light text-lg">
				Simplified Hugo comes with PDF format.
			</p>
		</div>

		<div>
			<h3 class="text-xl mb-2">I’m just getting started with Hugo, is it beginner friendly?</h3>
			<p class="font-light text-lg">
				YES! My goal with the Simplified Hugo is helping people who wants to learn Hugo and use it for their projects. This book will help you as a guidebook throughout your Hugo journey and beyond. I wrote this book and I’m using it as well time to time.
			</p>
		</div>

		<div>
			<h3 class="text-xl mb-2">I have another question!</h3>
			<p class="font-light text-lg">
				Feel free to contact with me using <a class="text-blue-600 hover:text-blue-500" href="mailto:berkay@berkaycubuk.com">berkay@berkaycubuk.com</a>.
			</p>
		</div>

	</div>

</section>
