<section class="container mx-auto px-6 py-20">

	<iframe src="https://www.youtube.com/embed/J4JL4q7saBM?si=rzJehoGJmfy57j0E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="max-w-[800px] h-[460px] w-full mx-auto"></iframe>

	<div class="mt-20">

		<h2 class="text-3xl font-medium mb-8">What's in the book?</h2>

		<ul class="list-inside list-disc flex flex-col gap-2 font-light text-lg">
			<li>A chapter that goes through all the fundamentals to get you started with Hugo in no time.</li>
			<li>Layouts and templates</li>
			<li>Content management</li>
			<li>Configuration</li>
			<li>Static files and assets</li>
			<li>Deployment</li>
			<li>Installing and customizing themes</li>
			<li>Building your own themes</li>
			<li>Advanced and useful stuff</li>
		</ul>

	</div>

</section>
