<section class="container mx-auto px-6 py-20">

	<div class="grid md:grid-cols-2 gap-6">
		<div>
			<h2 class="text-3xl font-medium mb-8">Why I wrote Simplified Hugo?</h2>
			<img alt="Simplified Hugo YouTube comments #1" class="w-full" src="/images/sh-comments-3.png" />
		</div>

		<img alt="Simplified Hugo YouTube comments #2" class="w-full" src="/images/sh-comments-1.png" />
	</div>

	<img alt="Simplified Hugo YouTube comments #3" class="w-full my-8" src="/images/sh-comments-2.png" />

	<img alt="Simplified Hugo YouTube comments #4" class="w-full" src="/images/sh-comments-4.png" />

</section>
