---
import BaseLayout from '../layouts/BaseLayout.astro';

const { title } = Astro.props;
---
<BaseLayout title={title}>
  <div class="max-w-[800px] mx-auto">
    <header class="px-8 py-6 flex items-center justify-between">
      <a class="font-bold text-lg hover:text-blue-600" href="/">Berkay's Space on the Internet</a>
      <nav class="flex gap-4">
        <a class="hover:text-blue-600" href="/blog">Things I Wrote</a>
        <a class="hover:text-blue-600" href="/about">About</a>
      </nav>
    </header>
    <slot />
  </div>
</BaseLayout>
